{% extends 'admin/model/edit.html' %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css"> -->
<!-- <link rel='stylesheet' href='https://cdn.form.io/formiojs/formio.full.min.css'> -->
<script src="https://cdn.form.io/js/formio.embed.js"></script>
<!-- <script src='https://cdn.form.io/js/formio.full.min.js'></script> -->

<style>
    .visually-hidden {
        display: none;
    }
</style>
{% endblock %}

{% block body %}
{{ super() }}


{% endblock %}

{% block tail%}


<script>

    // Helpers
    const dataflowid_to_selection = function (result) {
        let ret = []
        result.forEach((elem) => {
            if (elem["agency"].trim() != "" && elem["id"].trim() != "" && elem["version"].trim() != "") {
                let df_id = elem["agency"] + "," + elem["id"] + "," + elem["version"];
                ret.push({ label: df_id, value: df_id })
            }
        });

        return ret;
    }

    const themes_to_selection = function (result) {
        let ret = []
        result.forEach((elem) => {
            ret.push({ label: elem["theme_name"], value: elem["theme_id"] })
        });

        return ret;
    }
    //Helpers end

    //UI settings:
    const LABEL_POSITION = "left-left";
    const LABEL_WIDTH = 20;
    //UI settings end

    const get_time_period = function () {
        return {
            "label": "",
            "columns": [
                {
                    "components": [
                        {
                            "label": "Start year",
                            "applyMaskOn": "change",
                            "mask": false,
                            "tableView": false,
                            "delimiter": false,
                            "requireDecimal": false,
                            "inputFormat": "plain",
                            "truncateMultipleSpaces": false,
                            "key": "year_start",
                            "type": "number",
                            "input": true,
                            "defaultValue": 2000,
                            "decimalLimit": 0,
                            labelPosition: "left-right",
                            "labelWidth": 20,
                            "validate": {
                                "min": 1900
                            }
                        }
                    ],
                    "width": 6,
                    "offset": 0,
                    "push": 0,
                    "pull": 0,
                    "size": "md",
                    "currentWidth": 6
                },
                {
                    "components": [
                        {
                            "label": "End year (empty = current year)",

                            "applyMaskOn": "change",
                            "mask": false,
                            "tableView": false,
                            "delimiter": false,
                            "requireDecimal": false,
                            "inputFormat": "plain",
                            "truncateMultipleSpaces": false,
                            "key": "year_end",
                            "type": "number",
                            "input": true,
                            labelPosition: "left-right",
                            "labelWidth": 50,
                        }
                    ],
                    "width": 6,
                    "offset": 0,
                    "push": 0,
                    "pull": 0,
                    "size": "md",
                    "currentWidth": 6
                }
            ],
            "key": "columns",
            "type": "columns",
            "input": false,
            "tableView": false
        }
    }

    const get_chart_options_bar = function () {
        return {
            key: "chart_type_bar",
            type: "container",
            label: "",
            input: true,
            tableView: false,
            conditional: { show: true, json: { "==": [{ var: "row.element_type" }, "chart"] } },
            components: [{
                label: "Bar chart", tableView: true, key: "is_active", type: "checkbox", input: true, labelPosition: LABEL_POSITION, labelWidth: LABEL_WIDTH,
            },
            {
                key: "chart_options",
                type: "container",
                label: "",
                input: true,
                tableView: false,

                logic: [{
                    "name": "tr_show_chart_options_bar",
                    "trigger": {
                        "type": "javascript",
                        "javascript": "return !row.is_active;"
                    },
                    "actions": [
                        {
                            "name": "ac_show_chart_options_bar",
                            "type": "property",
                            "property": {
                                "label": "Hidden",
                                "value": "hidden",
                                "type": "boolean"
                            },
                            "state": true
                        }
                    ]
                }],
                components: [{ label: "X axis", tableView: true, key: "x", type: "textfield", input: true, labelPosition: LABEL_POSITION, labelWidth: LABEL_WIDTH },
                { label: "Y axis", tableView: true, key: "y", type: "textfield", input: true, labelPosition: LABEL_POSITION, labelWidth: LABEL_WIDTH, }]
            }
            ]
        }
    }

    const get_chart_options_line = function () {
        return {
            key: "chart_type_line",
            type: "container",
            label: "",
            input: true,
            tableView: false,
            conditional: { show: true, json: { "==": [{ var: "row.element_type" }, "chart"] } },
            components: [{
                label: "Line chart", tableView: true, key: "is_active", type: "checkbox", input: true, labelPosition: LABEL_POSITION, labelWidth: LABEL_WIDTH,
            },
            {
                key: "chart_options",
                type: "container",
                label: "",
                input: true,
                tableView: false,

                logic: [{
                    "name": "tr_show_chart_options_line",
                    "trigger": {
                        "type": "javascript",
                        "javascript": "return !row.is_active;"
                    },
                    "actions": [
                        {
                            "name": "ac_show_chart_options_line",
                            "type": "property",
                            "property": {
                                "label": "Hidden",
                                "value": "hidden",
                                "type": "boolean"
                            },
                            "state": true
                        }
                    ]
                }],
                components: [{ label: "X axis", tableView: true, key: "x", type: "textfield", input: true, labelPosition: LABEL_POSITION, labelWidth: LABEL_WIDTH },
                { label: "Y axis", tableView: true, key: "y", type: "textfield", input: true, labelPosition: LABEL_POSITION, labelWidth: LABEL_WIDTH, }]
            }
            ]
        }
    }

    const get_chart_options_map = function () {
        return {
            key: "chart_type_map",
            type: "container",
            label: "",
            input: true,
            tableView: false,
            conditional: { show: true, json: { "==": [{ var: "row.element_type" }, "map"] } },
            components: [
                {
                    key: "chart_options",
                    type: "container",
                    label: "",
                    input: true,
                    tableView: false,
                    components: [{
                        type: "textfield",
                        label: "Zoom",
                        inline: true,
                        tableView: false,
                        key: "zoom",
                        input: true,
                        labelPosition: LABEL_POSITION,
                        labelWidth: LABEL_WIDTH,
                    },
                    {
                        type: "textfield",
                        label: "Latitude",
                        inline: true,
                        tableView: false,
                        key: "latitude",
                        input: true,
                        labelPosition: LABEL_POSITION,
                        labelWidth: LABEL_WIDTH,
                    },
                    {
                        type: "textfield",
                        label: "Longitude",
                        inline: true,
                        tableView: false,
                        key: "longitude",
                        input: true,
                        labelPosition: LABEL_POSITION,
                        labelWidth: LABEL_WIDTH,
                    }]
                }
            ]
        }
    }




    const get_chart_options = function () {
        return {
            "label": "",
            "key": "chart_options",
            "type": "fieldset",
            "input": false,
            "tableView": false,
            "components": [

                // get_chart_type_options("bar"),
                // get_chart_type_options("line"),
                get_chart_options_bar(),
                get_chart_options_line(),
                get_chart_options_map(),

            ]
        }
    }

    const get_dataquery = function () {
        return [
            {
                label: "Dataflow",
                optionsLabelPosition: "right",
                inline: true,
                tableView: true,
                key: "dataflow",
                type: "select",
                input: true,
                logic: [
                    {
                        name: "logic_dataflow_select_upd",
                        trigger: {
                            type: "javascript",
                            javascript: "return data.dataflows;"
                        },
                        actions: [
                            {
                                name: "action_dataflow_select_upd",
                                type: "customAction",
                                customAction: "component.data.values = dataflowid_to_selection(result)"
                            }
                        ]
                    }
                ],
                labelPosition: LABEL_POSITION,
                labelWidth: LABEL_WIDTH,
            },
            {

                type: 'textfield',
                key: "dq",
                label: 'Data query',
                input: true,
                tableview: true,
                labelPosition: LABEL_POSITION,
                labelWidth: LABEL_WIDTH,

            },
            {

                type: 'textfield',
                key: "dq_lbl_override",
                label: 'Custom label',
                input: true,
                tableview: true,
                labelPosition: LABEL_POSITION,
                labelWidth: LABEL_WIDTH,

            },
            {
                "label": "Round",
                "widget": "choicesjs",
                "tableView": true,
                "key": "round",
                "type": "select",
                "input": true,
                "data": {
                    "values": [
                        {
                            "label": "No round",
                            "value": "noRound"
                        },
                        {
                            "label": "0",
                            "value": "0"
                        },
                        {
                            "label": "1",
                            "value": "1"
                        },
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        }
                    ]
                }
            }
        ]
    }

    const dataflow_id = [{
        type: 'textfield',
        key: 'agency',
        label: 'Agency',
        placeholder: "AGENCY",
        input: true,
        labelPosition: LABEL_POSITION,
        labelWidth: LABEL_WIDTH,
    },
    {
        type: 'textfield',
        key: 'id',
        label: 'Id',
        placeholder: "ID",
        input: true,
        labelPosition: LABEL_POSITION,
        labelWidth: LABEL_WIDTH,
    }, {
        type: 'textfield',
        key: 'version',
        label: 'Version',
        placeholder: "VERSION",
        input: true,
        labelPosition: LABEL_POSITION,
        labelWidth: LABEL_WIDTH,
        //tableview: false,
    }]

    const get_theme = function (theme_num, chk_disabled, chk_checked) {
        return {
            key: "cols_theme",
            type: "columns",
            input: false,
            tableView: false,
            columns: [
                {
                    components: [{
                        key: "theme_name_" + theme_num,
                        label: "Label for theme " + theme_num,
                        type: "textfield",
                        input: true,
                        labelPosition: LABEL_POSITION,
                        labelWidth: LABEL_WIDTH,

                        logic: [
                            {
                                name: "logic_theme_enable_disable",
                                trigger: {
                                    type: "simple",
                                    simple: {
                                        show: true,
                                        when: "is_theme_active_" + theme_num,
                                        eq: "false"
                                    }
                                },
                                actions: [
                                    {
                                        name: "action_theme_enable_disable",
                                        type: "property",
                                        property: {
                                            label: "Disabled",
                                            value: "disabled",
                                            type: "boolean"
                                        },
                                        "state": true
                                    }
                                ]
                            }
                        ],


                    }],
                    width: 10,
                    offset: 0,
                    push: 0,
                    pull: 0,
                    size: "md",
                    currentWidth: 10
                },
                {
                    components: [{
                        key: "is_theme_active_" + theme_num,
                        type: "checkbox",
                        label: "Is active",
                        input: true,
                        tableView: true,
                        disabled: chk_disabled,
                        defaultValue: chk_checked
                    }],
                    width: 2,
                    offset: 0,
                    push: 0,
                    pull: 0,
                    size: "md",
                    currentWidth: 2
                }
            ]
        }
    }

    const themes = [get_theme(1, true, true), get_theme(2, false, false), get_theme(3, false, false)]


    const get_block_elem = function () {
        return {
            components: [
                {
                    "label": "Row",
                    "applyMaskOn": "change",
                    "mask": false,
                    "tableView": true,
                    "delimiter": false,
                    "requireDecimal": false,
                    "inputFormat": "plain",
                    "truncateMultipleSpaces": false,
                    "key": "element_row",
                    "type": "number",
                    "input": true,
                    "defaultValue": 1,
                    labelPosition: LABEL_POSITION,
                    labelWidth: LABEL_WIDTH,
                },
                {
                    "label": "Position",
                    "applyMaskOn": "change",
                    "mask": false,
                    "tableView": true,
                    "delimiter": false,
                    "requireDecimal": false,
                    "inputFormat": "plain",
                    "truncateMultipleSpaces": false,
                    "key": "element_pos",
                    "type": "number",
                    "input": true,
                    "defaultValue": 1,
                    labelPosition: LABEL_POSITION,
                    labelWidth: LABEL_WIDTH,
                },
                {
                    type: 'radio',
                    key: "element_type",
                    label: 'Element type',
                    defaultValue: 'card',
                    values: [{ label: "Card", value: "card" }, { label: "Chart", value: "chart" }, { label: "Map", value: "map" }],
                    input: true,
                    inline: true,
                    labelPosition: LABEL_POSITION,
                    labelWidth: LABEL_WIDTH,
                },
                {
                    type: 'textfield',
                    key: "label",
                    label: 'Label',
                    tableView: false,
                    input: true,
                    //tooltip: 'Enter your <strong>First Name</strong>',
                    placeholder: 'Leave empty to pull the label from the data',
                    labelPosition: LABEL_POSITION,
                    labelWidth: LABEL_WIDTH,
                },
                get_chart_options(),
                {
                    type: "datagrid",
                    key: "editgrid",
                    label: "Data",
                    //modalEdit: true,

                    //displayAsTable: true,
                    tableView: false,
                    //disableAddingRemovingRows: true,
                    components: get_dataquery(),
                    reorder: true,

                },
            ]
        }
    }

    const get_theme_panel = function (theme_num, collapsed) {
        return {
            type: "panel",
            theme: "primary",
            key: "pnl_theme_" + theme_num,
            title: "Theme " + theme_num,
            collapsible: true,
            collapsed: collapsed,
            tableView: false,
            // components: [block_elem],
            components: [{
                label: "Components",
                reorder: true,
                addAnotherPosition: "bottom",
                layoutFixed: false,
                enableRowGroups: false,
                initEmpty: false,
                tableView: false,
                key: "theme_components_" + theme_num,
                type: "datagrid",
                input: true,
                components: [get_block_elem()]
            }],

            logic: [
                {
                    name: "logic_theme_pane_show_hide",
                    trigger: {
                        type: "simple",
                        simple: {
                            show: true,
                            when: "is_theme_active_" + theme_num,
                            eq: "false"
                        }
                    },
                    actions: [
                        {
                            name: "action_theme_pane_show_hide",
                            type: "property",
                            property: {
                                label: "Hidden",
                                value: "hidden",
                                type: "boolean"
                            },
                            "state": true
                        }
                    ]
                }
            ]

        }
    }



    Formio.createForm(document.getElementById('formio'), {
        components: [
            {
                type: 'textfield',
                key: 'main_title',
                label: 'Main title',

                input: true,
                //tooltip: 'Enter your <strong>First Name</strong>',
                //description: 'Enter your <strong>First Name</strong>'
            },
            {
                type: 'select',
                key: 'page_nav',
                label: 'Page navigation',
                defaultValue: 'all',
                data: { values: [{ label: "All", value: "all" }, { label: "Hide", value: "hide" }] },
                input: true
            },
            //Dataflows
            {
                type: "panel",
                theme: "primary",
                key: "pnl_dataflows",
                label: "Dataflows",
                title: "Dataflows",
                collapsible: true,
                tableView: false,
                components: [{
                    label: "",
                    key: "dataflows",
                    type: "editgrid",
                    input: true,
                    layoutFixed: false,
                    tableView: false,
                    addAnotherPosition: "bottom",
                    components: dataflow_id,
                }]
            },
            get_time_period(),
            //Themes
            {
                type: "panel",
                theme: "primary",
                key: "pnl_themes",
                label: "Themes",
                title: "Themes",
                collapsible: true,
                tableView: false,
                components: themes
            },

            //Elements in themes
            get_theme_panel(1, false),
            get_theme_panel(2, true),
            get_theme_panel(3, true),
        ]
    }).then(function (form) {

        val = JSON.parse(document.getElementById("content").value);

        form.submission = {
            data: val
        };
        form.on('change', function () {
            document.getElementById("content").value = JSON.stringify(form.submission["data"]);
        })
    })
</script>
{% endblock tail%}