{% extends 'admin/model/edit.html' %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css"> -->
<script src="https://cdn.form.io/js/formio.embed.js"></script>

<style>
    .visually-hidden {
        display: none;
    }
</style>
{% endblock %}

{% block body %}
{{ super() }}


{% endblock %}

{% block tail%}


<script>

    // Helpers
    const dataflowid_to_selection = function (result) {
        let ret = []
        result.forEach((elem) => {
            if (elem["agency"].trim() != "" && elem["id"].trim() != "" && elem["version"].trim() != "") {
                let df_id = elem["agency"] + "," + elem["id"] + "," + elem["version"];
                ret.push({ label: df_id, value: df_id })
            }
        });

        return ret;
    }

    const themes_to_selection = function (result) {
        let ret = []
        result.forEach((elem) => {
            ret.push({ label: elem["theme_name"], value: elem["theme_id"] })
        });

        return ret;
    }
    //Helpers end

    //UI settings:
    const LABEL_POSITION = "left-left";
    const LABEl_WIDTH = 20;
    //UI settings end
    const dataflow_id = [{
        type: 'textfield',
        key: 'agency',
        label: 'Agency',
        placeholder: "AGENCY",
        input: true,
        labelPosition: LABEL_POSITION,
        labelWidth: LABEl_WIDTH,
    },
    {
        type: 'textfield',
        key: 'id',
        label: 'Id',
        placeholder: "ID",
        input: true,
        labelPosition: LABEL_POSITION,
        labelWidth: LABEl_WIDTH,
    }, {
        type: 'textfield',
        key: 'version',
        label: 'Version',
        placeholder: "VERSION",
        input: true,
        labelPosition: LABEL_POSITION,
        labelWidth: LABEl_WIDTH,
        //tableview: false,
    }]

    const theme = [{
        "label": "Position",
        "applyMaskOn": "change",
        "mask": false,
        "tableView": true,
        "delimiter": false,
        "requireDecimal": false,
        "inputFormat": "plain",
        "truncateMultipleSpaces": false,
        "key": "theme_pos",
        "type": "number",
        "input": true,
        //"decimalLimit": 0,
        "defaultValue": 1,
        labelPosition: LABEL_POSITION,
        labelWidth: LABEl_WIDTH,
    }, {
        type: 'textfield',
        key: 'theme_id',
        label: 'Theme id',
        input: true,
        tableview: false,
        labelPosition: LABEL_POSITION,
        labelWidth: LABEl_WIDTH,
    }, {
        type: 'textfield',
        key: 'theme_name',
        label: 'Theme name',
        input: true,
        tableview: false,
        labelPosition: LABEL_POSITION,
        labelWidth: LABEl_WIDTH,
    }
    ]


    const block_elem = {
        components: [
            {
                label: "Theme",
                widget: "choicesjs",
                tableView: true,
                key: "theme",
                type: "select",
                input: true,
                logic: [
                    {
                        name: "logic_theme_upd_trigger",
                        trigger: {
                            type: "javascript",
                            javascript: "return data.themes;"
                        },
                        actions: [
                            {
                                name: "action_set_themes_select",
                                type: "customAction",
                                customAction: "component.data.values = themes_to_selection(result)"
                            }
                        ]
                    }
                ],
                labelPosition: LABEL_POSITION,
                labelWidth: LABEl_WIDTH,
            },
            {
                "label": "Row",
                "applyMaskOn": "change",
                "mask": false,
                "tableView": true,
                "delimiter": false,
                "requireDecimal": false,
                "inputFormat": "plain",
                "truncateMultipleSpaces": false,
                "key": "element_row",
                "type": "number",
                "input": true,
                "defaultValue": 1,
                labelPosition: LABEL_POSITION,
                labelWidth: LABEl_WIDTH,
            },
            {
                "label": "Column",
                "applyMaskOn": "change",
                "mask": false,
                "tableView": true,
                "delimiter": false,
                "requireDecimal": false,
                "inputFormat": "plain",
                "truncateMultipleSpaces": false,
                "key": "element_col",
                "type": "number",
                "input": true,
                "defaultValue": 1,
                labelPosition: LABEL_POSITION,
                labelWidth: LABEl_WIDTH,
            },
            {
                label: "Dataflow",
                optionsLabelPosition: "right",
                inline: true,
                tableView: false,
                key: "dataflow",
                type: "radio",
                input: true,
                logic: [
                    {
                        name: "logic_radio_upd_trigger",
                        trigger: {
                            type: "javascript",
                            javascript: "return data.dataflows;"
                        },
                        actions: [
                            {
                                name: "action_set_dataflow_radio",
                                type: "customAction",
                                customAction: "component.values = dataflowid_to_selection(result)"
                            }
                        ]
                    }
                ],
                labelPosition: LABEL_POSITION,
                labelWidth: LABEl_WIDTH,
            },

            {
                type: 'select',
                key: 'element_type',
                label: 'Element type',
                defaultValue: 'card',
                data: { values: [{ label: "Card", value: "card" }, { label: "Map", value: "map" }, { label: "Chart", value: "chart" }] },
                input: true,
                labelPosition: LABEL_POSITION,
                labelWidth: LABEl_WIDTH,
            },
            {
                type: 'textfield',
                key: 'dq',
                label: 'Data query',
                input: true,
                tableview: true,
                labelPosition: LABEL_POSITION,
                labelWidth: LABEl_WIDTH,
            },
            {
                type: 'checkbox',
                key: 'lastnobservations',
                label: 'Only most recent values',
                input: true,
                tableview: true,
                logic: [
                    {
                        name: "card_chart_logic",
                        trigger: {
                            type: "simple",
                            simple: {
                                show: true,
                                when: "element_type",
                                eq: "card"
                            }
                        },
                        actions: [
                            {
                                name: "card_chart_action_disable",
                                type: "property",
                                property: {
                                    label: "Disabled",
                                    value: "disabled",
                                    type: "boolean"
                                },
                                state: true
                            },
                            {
                                name: "card_chart_action_ubcheck",
                                type: "value",
                                value: "value = false"
                            }
                        ]
                    }
                ],
                labelPosition: LABEL_POSITION,
                labelWidth: LABEl_WIDTH,
            },
            {
                type: 'textfield',
                key: 'label',
                label: 'Label',
                tableView: false,
                input: true,
                //tooltip: 'Enter your <strong>First Name</strong>',
                description: 'Leave empty to pull the label from the data',
                labelPosition: LABEL_POSITION,
                labelWidth: LABEl_WIDTH,
            },]
    }



    Formio.createForm(document.getElementById('formio'), {
        components: [
            {
                type: 'textfield',
                key: 'main_title',
                label: 'Main title',

                input: true,
                //tooltip: 'Enter your <strong>First Name</strong>',
                //description: 'Enter your <strong>First Name</strong>'
            },
            {
                type: 'select',
                key: 'page_nav',
                label: 'Page navigation',
                defaultValue: 'all',
                data: { values: [{ label: "All", value: "all" }, { label: "Hide", value: "hide" }] },
                input: true
            },
            {
                type: "panel",
                theme: "primary",
                key: "pnl_dataflows",
                label: "Dataflows",
                title: "Dataflows",
                collapsible: false,
                tableView: false,
                components: [{
                    label: "",
                    key: "dataflows",
                    type: "editgrid",
                    input: true,
                    layoutFixed: false,
                    tableView: false,
                    addAnotherPosition: "bottom",
                    components: dataflow_id,
                }]
            },

            {
                type: "panel",
                theme: "primary",
                key: "pnl_themes",
                label: "Themes",
                title: "Themes",
                collapsible: false,
                tableView: false,
                components: [{
                    label: "",
                    key: "themes",
                    type: 'editgrid',
                    input: true,
                    layoutFixed: false,
                    tableView: false,
                    addAnotherPosition: "bottom",
                    reorder: true,
                    //modalEdit: true,
                    components: theme
                }]
            },

            {
                type: "panel",
                theme: "primary",
                key: "pnl_rows",
                label: "Elements",
                title: "Elements",
                collapsible: false,
                tableView: false,
                components: [{
                    label: "",
                    key: "ROWS",
                    type: 'editgrid',
                    input: true,
                    components: [block_elem]
                }]
            },








        ]
    }).then(function (form) {

        val = JSON.parse(document.getElementById("content").value);

        form.submission = {
            data: val
        };
        form.on('change', function () {
            document.getElementById("content").value = JSON.stringify(form.submission["data"]);
        })
    })
</script>
{% endblock tail%}